body{
    margin: 0;
    padding: 0;
    background: #11152B;
    text-align: center;
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/006/673/885/large/weijian-li-yg2.jpg?1500382752);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

}
#keys{
    display: flex;
    flex: 1;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
.key{
    width: 10rem;
    border: .4rem solid #000;
    border-radius: 0.5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.07s;
}
.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: #ffc600;
}
kbd{
    font-size: 4rem;
    display: block;
}
.sound{
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #ffc600;
}